

:root {
  --main-white-color: #f7f2ff;
  /*основной "белый" цвет, используется почти во всех текстах*/
  --article-text-color: #6e5e83;
  /* цвет для абзацев статей, описаний услуг и мелких подзаголовков*/
}
@font-face {
  font-family: "Inter";
  /*font-weight: 500;*/
  src: local("Inter"), url("../fonts/Inter/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter/Inter-Regular.woff") format("woff"),
    url("../fonts/Inter/Inter-Regular.ttf") format("ttf"),
    url("../fonts/Inter/Inter-Regular.eot") format("eot");
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url("../fonts/Open_Sans/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/Open_Sans/OpenSans-Regular.woff") format("woff"),
    url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("ttf"),
    url("../fonts/Open_Sans/OpenSans-Regular.eot") format("eot");
}
body {
  position: relative;
  height: 100%;
  background: #1a0930;
  z-index: 3;
}
a:active {
  color: var(--article-text-color)
}
main.page{
  margin-top: 68px;
}


.background-reviews {
  position: absolute;
  width: 449.03px;
  height: 367.72px;
  left: 70px;
  background: radial-gradient(
      50.09% 124.66% at 65.27% 55.89%,
      rgba(73, 0, 107, 0.396) 0%,
      rgba(255, 31, 233, 0.4) 57.07%,
      rgba(222, 129, 255, 0.4) 100%
    );
  filter: blur(100px);
  transform: rotate(-36.12deg);
}
.background-reviews__triple-stars {
  position: absolute;
  z-index: 40;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
._container {
  width: 90vw;
  margin: 0 auto;
  max-width: 1138px;  
}
.page {
  flex: 1 1 auto;
}
._h2 {
  font-family: "Inter";
  font-style: Medium;
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  color: var(--main-white-color);
}

/*-----------------------------------------------header----------------------------------------*/
.header__container._container{
  width:100%
}

.header__container {
  z-index: 30;
  position: fixed;
  /*display: flex;*/
  min-height: 68px;
  /* align-items: center;
  justify-content: space-between; */
  background: #1a0930;
  width: 100%;
  max-width:100%
}
.header_wrapper{
  margin: 0 auto;
  max-width: 1138px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  align-items: center;
}
.menu__list {
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 0;
  padding: 0;
}
.menu__item {
  display: flex;
  align-items: stretch;
  float: left;
  position: relative;
}
.menu__link {
  display: flex;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-white-color);
  align-items: center;
  text-decoration: none;
  transition: .3s linear;
}
.sub-menu {
  position: absolute;
  top: 35px;
  z-index: 5;
  min-width: 200px;
  border-radius: 3px;
  border: 1px solid var(--main-white-color); 
  visibility: hidden;
  opacity: 0;
  background:#1f0c37;
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
  transition: .3s linear;
  box-shadow: 0px 0px 5px var(--main-white-color);
}
.menu-item:hover>.sub-menu {
  visibility: visible;
  opacity: 1;
  transform: rotateX(0deg);
}
.sub-menu .menu-item {
  position: relative;
}
.sub-menu .menu-item .menu__link {
  color: #ffffff;
  padding: 10px 20px;
  font-size: 13px;
}
.header__logo {
  display: flex;
  padding: 0 10px;
  align-items: center;
}
.logo_text{
  color: var(--main-white-color);
  font-family: "Inter";
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
}
.header__location {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header__location_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: var(--main-white-color);
  /* padding-right: 20px; */
}
.header__hrVert {
  border-left: 1px solid #3f3354;
  min-height: 68px;
}
.header__contact {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  /* padding-left: 20px; */
}
.header__contact_telefon {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: var(--main-white-color);
}
.header__contact_telefon-mob{
  display:none
}
.header_contact_href {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  text-decoration-line: underline;
  color: var(--article-text-color);
}
.header__link{
  color: var(--article-text-color);
}
.header__element {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 5px;
}
.header__hr {
  border: none;
  border-top: 1px solid #3f3354;
}
.header__burger{
  display: none;
}
/*---------------------------------------------------------------------------------------*/
/*------------------------------------page__main-block-----------------------------------*/
/* .main-block__container._container{
  margin-top: 68px
} */
.page__main-block {
  position: relative;
}
.background-main1 {
  position: absolute;
  /* z-index: 1; */
  width: 975px;
  height: 634.06px;
  left: -400px;
  top: 147px;
  background: radial-gradient(
    58.88% 126.25% at 51.53% 47.82%,
    #5d21c0 0%,
    rgba(193, 17, 255, 0) 100%
  );
  filter: blur(128px);
  transform: rotate(42.7deg);
}
.background-main2 {
  position: absolute;
  z-index: 5;
  width: 407px;
  height: 568.01px;
  left: 255.44px;
  top: 481px;
  background: radial-gradient(
    58.88% 126.25% at 51.53% 47.82%,
    #aa75a5 0%,
    rgba(193, 17, 255, 0) 100%
  );
  transform: rotate(33.87deg);
  filter: blur(146px);
}
.main-block__body {
  position: relative;
  display: flex;
  
}
@media(max-width:1130px) {
  .main-block__body {
      position: relative;
      display: flex;
      flex-wrap: wrap;
    }
}
.background-main3 {
  position: absolute;
  width: 630.02px;
  height: 568.01px;
  left: 536px;
  top: 500.11px;
  background: radial-gradient(
      58.88% 126.25% at 51.53% 47.82%,
      #28025a 0%,
      rgba(193, 17, 255, 0) 100%
    );
  filter: blur(400px);
  transform: rotate(-20.01deg);
  z-index: 3;
}
.main_block__wrapper{
  max-width: 657px;
  margin: 0 auto;
}
.main-content {
  position: relative;
  z-index: 4;
  display: flex;
  flex-direction: column;
  min-width: 524px;
  flex-basis: 524px;
}
.main-title {
  margin-top: 207px;
  margin-bottom: 39px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 135%;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.main-subtitle {
  display: flex;
  margin-bottom: 56px;
  justify-content: space-between;
}
.main-subtitle__item {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-white-color);
}
.main-button {
  margin-bottom: 197px;
}
.main-button_href {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--main-white-color);
  border: 1px solid #f7f2ff;
  border-radius: 5px;
  padding: 11px 25px;
}
.main-image {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100%-524px);
}
.main-image__top {
  display: flex;
  gap: 33px;
}
.main-image__bottom {
  display: flex;
  gap: 33px;
}
.main-image__el {
  width: 201px;
  height: 264px;
  transform: rotate(-30deg);
  position: relative;
  z-index: 15;
}
.el1 {
  border: 1px solid #3f3354;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 151px;
  margin-left: 65px;
}
.el2 {
  margin-top: 75px;
}
.el3 {
  margin-left: 221px;
  margin-top: 6px;
}
.el4 {
  margin-right: -33px;
  margin-top: -71px;
}
.main-image__text_title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 49.2144px;
  line-height: 74px;
  display: flex;
  justify-content: center;

  text-transform: uppercase;

  color: var(--main-white-color);
  padding-top: 90px;
  padding-bottom: 30px;
}
.main-image__text_subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--article-text-color);
  display: flex;
  justify-content: center;
  padding-left: 35px;
  padding-right: 30px;
}
.main-background {
  position: relative;
  background: rgba(29, 10, 53, 0.8);
  backdrop-filter: blur(4px);
  z-index: 25;
}
.main-3columns {
  display: flex;
  min-height: 183px;
  justify-content: space-between;
}
.main-3columns__item {
  display: flex;
  gap: 25px;
  margin-top: 69px;
}
.item1 {
  margin-top: 48px;
}
.item2 {
  margin-left: 118px;
}
.item3 {
  margin-left: 137px;
}
.main-3colums__text1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 135%;
  color: #ffffff;
  max-width: 279px;
}
.main-3columns__text2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 135%;
  color: #ffffff;
}
.main-3columns__text3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 135%;
  color: #ffffff;
}
.slide-m-dots .slick-dots
{
  position:static;
  display: flex;
}
.slider-controls{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.slide-m-next:before{
  content: url("../img/arrow_r.svg")
}
.slide-m-prev:before {
  content: url("../img/arrow_l.svg")
}
.slide-m-next,
.slide-m-prev{
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

/*---------------------------------------------------------------------------------------------*/
/*----------------------------------------services---------------------------------------------*/

.page__services-block {
  position: relative;
    background: #1a0930;
    z-index: 10;
}
.services-block__title_h2 {
  padding-top: 127px;
  margin-bottom: 53px;
}
.services-block__subtitle {
  margin: 103px 0 3px 0;
}
.toplend {
  font-family: "Open Sans";
  font-style: Medium;
  font-size: 14px;
  line-height: 21px;
  line-height: 100%;
  text-align: Center;
  color: #6025bf;
}
.services-block__columns {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.services-block__item {
  width: 32.15%;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  min-height: 100px;
  background: #1f0c37;
  box-shadow: inset 0px -1px 3px 0px #573c7a;
  border-radius: 3px;
  align-items: center;
}
.services-block__text {
  padding: 50px 0 55px 34px;
  font-family: "Inter";
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.services-block__img {
  padding: 44px 30px 37px 0;
}
.serveces-item1 {
  width: 32.15%;
}
.serveces-item2 {
  width: 32.15%;
}
.serveces-item3 {
  width: 32.15%;
}
.serveces-item4 {
  width: 49.1%;
}
.serveces-item5 {
  width: 49.1%;
}

/*-----------------------------------------------------------------------------------------------*/
/*----------------------------------------------page__choice-block--------------------------------*/

.page__choice-block {
  position: relative;
  margin-top: 158px;
}
.choice-block__body {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.background-choice {
  position: absolute;
  width: 380.09px;
  height: 270.36px;
  right: -130px;
  top: 100px;
  background: radial-gradient( 51.61% 115.36% at 67.24% 51.72%, rgba(73, 0, 107, 0.396) 0%, rgba(255, 31, 233, 0.4) 57.07%, rgba(222, 129, 255, 0.4) 100% );
  filter: blur(100px);
  transform: rotate(-80.12deg);
}
.choice-block__text {
  display: flex;
  flex-direction: column;
}
.choice-block__title {
  padding-top: 31px;
}
.choice-block__title_h2 {
  line-height: 48px;
  text-align: left;
}
.choice-block__subtitle {
  margin-top: 30px;
  margin-bottom: 32px;
  font-family: "Inter";
  font-style: Regular;
  font-size: 16px;
  line-height: 22px;
  line-height: 135%;
  color: var(--main-white-color);
}
.choice-block__el {
  font-family: "Inter";
  font-size: 16px;
  line-height: 22px;
  line-height: 135%;
  color: #7f7190;
  list-style: disc;
  margin-bottom:5px
}
.choice-block__button {
  margin-top: 70px;
}
.choice-block__href {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 55px;
  background: #6025bf;
  border-radius: 5px;
  text-align: center;
  color: var(--main-white-color);
}
.choice-block__img {
  position: relative;
    z-index: 1;
}
.choice-block__img img {
  border-radius: 5px;
}

/*-------------------------------------------------------------------------------------------*/
/*--------------------------------------------------page__cases-block------------------------*/

.cases-block__container{
  max-width: 90vw;
}
.cases-block__body {
  margin-bottom: 123px;
}
.case_slide_wrapper {
  position:relative;
  margin: 0 10px;
}
.case_slide_wrapper::after{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: linear-gradient(to bottom, rgba(48, 34, 71, 0), #220A3D);
  opacity: 0.8;
}
.case_slide_title_wrapper{
    position: absolute;
    bottom: 0;
    padding: 0 0 37px 37px;
    color: #fff;
    z-index: 1;
    text-transform: uppercase;
}
.case_slide__title{
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
}

.case_slide_wrapper img{
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}
.cases-block__title {
  margin-top: 185px;
}
.cases-block__title_h2 {
  margin-bottom: 50px;
}
.cases-block__subtitle {
  margin-top: 150px;
  margin-bottom: 14px;
}

/*---------------------------------------------------------------------------------------------*/
/*-----------------------------------------------page__reviews-block----------------------------*/

.page__reviews-block {
  position: relative;
}
.reviews-block__body {
  position: relative;
  z-index: 3;
  margin-bottom: 164px;
}
.reviews_gradient_bg {
  position: absolute;
  width: 449.03px;
height: 367.72px;
left: 0.4px;
top: 0.7px;

background: radial-gradient(50.09% 124.66% at 65.27% 55.89%, rgba(73, 0, 107, 0.396) 0%, rgba(255, 31, 233, 0.4) 57.07%, rgba(222, 129, 255, 0.4) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
filter: blur(100px);
transform: rotate(-36.12deg);
}
.triple_stars {
  position: absolute;
  z-index: 5;
  top: 80px;
}
.reviews-block__title_h2 {
  margin-top: 9px;
  margin-bottom: 70px;
}
.reviews-block__slide {
  max-width: 657px;
  min-height: 308px;
  box-shadow: inset 0px -1px 3px #573c7a;
  border-radius: 5px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  background-color: #1F0C37;
}
.reviews-slide__text1 {
  margin: 49px 51px 91px 51px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  color: var(--main-white-color);
}
.reviews-slide__text2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 135%;
  color: #ffffff;
  margin-left: 51px;
  margin-bottom: 6px;
}
.reviews-slide__text3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: var(--article-text-color);
  margin-left: 51px;
}

/*-------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------page__service-selection-----------------------------------*/

.service-selection__container {
  background: #570f65;
  border-radius: 5px;
}
.service-selection__body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-selection__lightning_small {
position: absolute;
/* width: 87.89px; */
/* height: 158.35px; */
left: 1010px;
top: -40.75px;
z-index: 1;

/* background: #E0A100; */
/* transform: rotate(-15deg); */
}
.service-selection__lightning_big {
position: absolute;
left: 10px;
top: 70px;
z-index: 1;
}
.service-selection__title {
  margin-top: 51px;
  margin-bottom: 24px;
}
.service-selection__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;
  text-align: center;
  color: var(--main-white-color);
  max-width: 446px;
  margin-bottom: 44px;
}
.service-selection__button {
  margin-bottom: 54px;
}
.service-selection__href {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--main-white-color);
  padding: 11px 50px;
  border: 1px solid #f7f2ff;
  border-radius: 5px;
}

/*--------------------------------------------------------------------------------------------------*/
/*---------------------------------------------page__useful-articles--------------------------------*/

.useful-articles {
  position: relative;
  z-index: 100;
}
.useful-articles__body {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.useful-articles__title {
  margin-top: 102px;
  margin-bottom: 74px;
}
.useful-articles__columns {
  display: flex;
  margin-bottom: 59px;
  justify-content: space-between;
  border: 1px solid black;
}
.articles__item {
  display: flex;
  flex-direction: column;
  width: 32.15%;
  background: #f7f2ff;
  border-radius: 5px;
}
.articles__title_h3 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 135%;
  color: #1a0930;
  padding: 20px 0 5px 23px;
}
.articles__text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  color: var(--article-text-color);
  padding: 0 23px 31px 23px;
}
.useful-articles__button {
  margin-top: 59px;
  background: #6025bf;
  border-radius: 5px;
  padding: 12px 62px;
}
.useful-articles__href {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--main-white-color);
}

/*------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------page__question----------------------------------*/

.question__body {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin-bottom: 187px;
  position: relative;
}
.question-triple_stars_left {
  position: absolute;
  

}
.question-triple_stars_right {
  position: absolute;
  right: 0.1px;
  bottom: 0.1px;
}
.question__title {
  margin-top: 94px;
  margin-bottom: 47px;
}
.question__block {
  max-width: 692px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.accordion{
  width: 100%
}
.accordion__item {
  margin-bottom: 10px;
  float: left;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-family: "Open-sans", Arial, sans-serif;
  border-radius: 3px;
  border: 1px solid #6025BF;
}
.accordion__item.open{
  border: 1px solid var(--article-text-color);
}
.accordion__item_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  color: var(--main-white-color);
  width: 100%;  
  box-sizing: border-box;
}
.accordion__item_header span {
  float: right;
  font-size: 25px;
}
.close .accordion__item_body {
  height: 0px;
  transition: height 1s ease-out;
  transform: scaleY(0);
  float: left;
  display: block;
}
.open .accordion__item_body {
  padding: 0 10px;
  width: 100%;
  margin: 0px 0px 20px 0px;
  display: block;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.4s ease;
  box-sizing: border-box;
  color: var(--article-text-color)
}

/*---------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------page-header------------------------------------*/

.page-header {
  color: var(--main-white-color);
  font-family: "Inter";
  margin-bottom: 48px;
}
.page-header__breadcrumbs {
  margin: 25px 0px;
  font-size: 14px;
  font-weight: 400;
  color: var(--article-text-color)
}
.breadcrumbs__current{
  color: var(--main-white-color)
}
/* .page-header__breadcrumbs a:active{
  color: var(--article-text-color)
} */
.page-header__title {
  font-size: 40px;
  font-weight: 500;
}

/*---------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------category-list----------------------------------*/

.services-block__grid .services-block__item .services-block__text {
  padding: 41px 0px 42px 34px;
}
.services-block__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.category-list_service-selection {
  margin: 70px 0px;
}
.category-list_description {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  color: var(--article-text-color);
  margin-bottom: 170px;
}

/*---------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------article-page-----------------------------------*/

.service-article_img {
  width: 100%;
  height: 324px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 48px;
}
.service-article_text {
  font-family: "Inter";
  color: var(--article-text-color);
  font-weight: 400;
  font-size: 16px;
}
.service-article_text h2,
.service-article_text h3,
.service-article_text h4,
.service-article_text h5 {
  color: var(--main-white-color);
  font-weight: 400;
}
.service-article_text h2 {
  font-size: 30px;
  margin-bottom: 15px;
}
.service-article_text h3 {
  font-size: 22px;
  margin-bottom: 10px;
}
.service-article_text h4 {
  margin-bottom: 10px;
}
.service-article_text p {
  margin-bottom: 40px;
}

/*---------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------page-blog--------------------------------------*/

.page__blog__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.page__blog__grid .articles__item {
  width: 100%;
}
.more-articles-button {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 70px;
}
.more-articles-button_href {
  text-align: center;
  display: block;
  max-width: 150px;
  font-weight: 400;
  font-size: 16px;
  padding: 10px;
  color: var(--main-white-color);
  border: 1px solid #f7f2ff;
  border-radius: 5px;
}
.btn a {
  font-family: "Open Sans";
}

.blog-block__grid .blog-block__item .blog-block__text {
  padding: 41px 0px 42px 34px;
}

.blog-block__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.blog-block__grid .articles__item{
  width: 100%
}
/*---------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------blog-article-----------------------------------*/

.blog-article_img {
  width: 100%;
  height: 324px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 48px;
}
.blog-article_text {
  font-family: "Inter";
  color: var(--article-text-color);
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 70px;
}
.blog-article_text h2,
.blog-article_text h3,
.blog-article_text h4,
.blog-article_text h5 {
  color: var(--main-white-color);
  font-weight: 400;
}
.blog-article_text h2 {
  font-size: 30px;
  margin-bottom: 15px;
}
.blog-article_text h3 {
  font-size: 22px;
  margin-bottom: 10px;
}
.blog-article_text h4 {
  margin-bottom: 10px;
}
.blog-article_text p {
  margin-bottom: 40px;
}

/*---------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------contacts-----------------------------------------*/

.page__contacts_text {
  font-family: "Inter";
  color: var(--article-text-color);
  font-weight: 400;
  font-size: 16px;
}

.page__contacts_text h2,
.service-article_text h3,
.service-article_text h4,
.service-article_text h5 {
  color: var(--main-white-color);
  font-weight: 400;
}

.page__contacts_text h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.page__contacts_text h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.page__contacts_text h4 {
  margin-bottom: 10px;
}

.page__contacts_text p {
  margin-bottom: 20px;
}

.page__contacts_map-wrapper{
  display: flex;
}

.page__contacts_map-wrapper .map,
.page__contacts_map-wrapper .form{
  width: 50%
}

/*---------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------footer-----------------------------------------*/

.footer {
  background: #200e38;
  font-family: "Inter";
  font-weight: 400;
}
.footer__body {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer_left-side,
.footer__navigation,
.footer_right-side{
  display:flex
}
.footer_left-side,
.footer_right-side{
  flex-direction: column;
  justify-content: space-between;
}
.footer_right-side{
  text-align: right;
}
.footer__logo {
  display: flex;
}
.footer__adress {
  font-size: 14px;
  line-height: 135%;
  color: var(--article-text-color);
}
.menu-footer__list {
  display: flex;
  gap: 35px;
}
.menu-footer__link {
  display: flex;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-white-color);
  align-items: center;
}
.footer__contact {
  display: flex;
  flex-direction: column;
}
.footer-contact__title {
  font-size: 16px;
  line-height: 19px;
  color: var(--main-white-color);
  margin-bottom: 10px
}
.footer_tel-list{
  margin-bottom:22px
}
.footer-contact__tel {
  font-size: 14px;
  line-height: 17px;
  color: var(--article-text-color);
}
.footer-contact__email {
  font-size: 14px;
  line-height: 17px;
  color: var(--article-text-color);
}
.footer__link{
  color: var(--article-text-color);
}